In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

#The below get gets our data from the source
#Have named our data set rfm_data
rfm_data = pd.read_csv('/kaggle/input/rfm-analysis-case-study/rfm_data.csv')

#The code gets the first 5 rows of our dataset
rfm_data.head(5)

,CustomerID,PurchaseDate,TransactionAmount,ProductInformation,OrderID,Location
0,8814,2023-04-11,943.31,Product C,890075,Tokyo
1,2188,2023-04-11,463.70,Product A,176819,London
2,4608,2023-04-11,80.28,Product A,340062,New York
3,2559,2023-04-11,221.29,Product A,239145,London
4,9482,2023-04-11,739.56,Product A,194545,Paris

In [2]:
#This returns the amount of rows and columns in our dataset
rfm_data.shape

(1000, 6)

In [3]:
#The code returns the information our data including the columns present and their datatypes
rfm_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          1000 non-null   int64
 1   PurchaseDate        1000 non-null   object
 2   TransactionAmount   1000 non-null   float64
 3   ProductInformation  1000 non-null   object
 4   OrderID             1000 non-null   int64
 5   Location            1000 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 47.0+ KB

In [4]:
#This code gives the total statistical summary of the dataset
rfm_data.describe()

        CustomerID  TransactionAmount        OrderID
count  1000.000000         1000.00000    1000.000000
mean   5554.789000          513.67781  554071.398000
std    2605.014863          286.09870  264695.448814
min    1011.000000           12.13000  100096.000000
25%    3273.000000          257.12000  313152.000000
50%    5538.000000          523.56500  564671.500000
75%    7821.750000          759.86000  783052.250000
max    9991.000000          999.44000  999695.000000

In [5]:
rfm_data.value_counts()

CustomerID  PurchaseDate  TransactionAmount  ProductInformation  OrderID  Location
1011        2023-05-02    918.72             Product B           945619   London      1
7099        2023-05-04    855.78             Product C           572623   London      1
6963        2023-05-05    921.02             Product B           999138   New York    1
6967        2023-05-08    79.27              Product C           753425   Paris       1
6986        2023-05-15    686.11             Product D           907788   New York    1
                                                                                     ..
4116        2023-05-15    454.13             Product D           292401   Paris       1
4131        2023-04-29    363.40             Product A           787584   Paris       1
4150        2023-04-26    286.22             Product C           335790   Paris       1
4154        2023-05-01    518.76             Product A           275526   New York    1
9991        2023-05-11    626.81             Product B           828834   New York    1
Name: count, Length: 1000, dtype: int64

In [6]:
#This shows that our data has no null values
rfm_data.isnull().sum()

CustomerID            0
PurchaseDate          0
TransactionAmount     0
ProductInformation    0
OrderID               0
Location              0
dtype: int64

In [7]:
#The below code returns the numbers of unique values in our data

unique_metrics = rfm_data.nunique()
print(unique_metrics)

CustomerID             946
PurchaseDate            61
TransactionAmount      997
ProductInformation       4
OrderID               1000
Location                 4
dtype: int64

In [8]:
#This shows the columns present in our data set
for column in rfm_data.columns:
    print (column)

CustomerID
PurchaseDate
TransactionAmount
ProductInformation
OrderID
Location

In [9]:
transaction_amount_column = rfm_data ['TransactionAmount']
product_information_column = rfm_data ['ProductInformation']
customer_id_column = rfm_data ['CustomerID']
purchase_date = rfm_data ['PurchaseDate']
order_id = rfm_data ['OrderID']
location_id = rfm_data ['Location']
print (transaction_amount_column)

0      943.31
1      463.70
2       80.28
3      221.29
4      739.56
        ...
995    759.62
996    941.50
997    545.36
998    729.94
999    804.28
Name: TransactionAmount, Length: 1000, dtype: float64